FIREBASE_CREDENTIALS_PATH=./firebase/service_account_key.json
GEMINI_API_KEY=AIzaSyCi0p_j2oCkJfggfLvktpdVG12XcA8Rp0M
GROQ_API_KEY=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
PORT=8000
YOUTUBE_API_KEY=AIzaSyA0Bo2UTXHWK2ZDX-rihx9OC062AdF50MA
