FIREBASE_CREDENTIALS_PATH=./firebase/service_account_key.json
GEMINI_API_KEY=AIzaSyCi0p_j2oCkJfggfLvktpdVG12XcA8Rp0M
CORS_ORIGINS=http://localhost:3000,http://localhost:8080,chrome-extension://*
PORT=8000
YOUTUBE_API_KEY=AIzaSyA0Bo2UTXHWK2ZDX-rihx9OC062AdF50MA
